@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);







body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Open Sans', sans-serif;
}
.mbr-author-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Open Sans', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #efefef !important;
}
.bg-success {
  background-color: #1066c6 !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #45b1ea !important;
}
.bg-danger {
  background-color: #cccccc !important;
}
.btn-primary {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-secondary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success {
  background-color: #1066c6;
  border-color: #1066c6;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #0a427f;
  border-color: #0a427f;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0a427f !important;
  border-color: #0a427f !important;
}
.btn-warning {
  background-color: #45b1ea;
  border-color: #45b1ea;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #178dcc;
  border-color: #178dcc;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #178dcc !important;
  border-color: #178dcc !important;
}
.btn-danger {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #a6a6a6;
  border-color: #a6a6a6;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline {
  background: none;
  border-color: #083568;
  color: #083568;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #1066c6;
  border-color: #1066c6;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1066c6 !important;
  border-color: #1066c6 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #147db5;
  color: #147db5;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #45b1ea;
  border-color: #45b1ea;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #45b1ea !important;
  border-color: #45b1ea !important;
}
.btn-danger-outline {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.text-primary {
  color: #efefef !important;
}
.text-success {
  color: #1066c6 !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #45b1ea !important;
}
.text-danger {
  color: #cccccc !important;
}
.alert-success {
  background-color: #1066c6;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #45b1ea;
}
.alert-danger {
  background-color: #cccccc;
}
.btn-social {
  border-color: #efefef;
}
.btn-social:hover {
  background: #efefef;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #efefef;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #efefef;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #efefef;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #efefef;
}
.lead a,
.lead a:hover {
  color: #efefef;
}
.lead blockquote {
  border-color: #efefef;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #63a7f2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fcfeff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #efefef;
}
#header1-1c .mbr-section-title {
  text-align: center;
  color: #ffffff;
  font-size: 48px;
}
#header1-1c .mbr-section-lead {
  text-align: center;
  font-size: 25px;
}
#msg-box5-2f P {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#header3-4l .mbr-section-title,
#header3-4l .mbr-section-subtitle {
  text-align: center;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-0 .link {
  font-size: 0.8rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #efefef;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#menu-0 .btn {
  font-family: 'Roboto', sans-serif;
}
#msg-box5-2l P {
  text-align: left;
  color: #000000;
}
#msg-box5-2l H3 {
  text-align: left;
  color: #000000;
}
#msg-box5-2j P {
  text-align: left;
  color: #ffffff;
}
#msg-box5-2j H3 {
  text-align: left;
  color: #ffffff;
}
#msg-box5-2m P {
  text-align: left;
  color: #000000;
}
#msg-box5-2m H3 {
  text-align: left;
  color: #000000;
}
#msg-box5-2n P {
  text-align: left;
  color: #ffffff;
}
#msg-box5-2n H3 {
  text-align: left;
  color: #ffffff;
}
#msg-box5-2o P {
  text-align: left;
  color: #000000;
}
#msg-box5-2o H3 {
  text-align: left;
  color: #000000;
}
#msg-box5-2q P {
  text-align: left;
  color: #ffffff;
}
#msg-box5-2q H3 {
  text-align: left;
  color: #ffffff;
}
#msg-box2-4f .mbr-section-title {
  color: #000000;
}
#msg-box2-4f .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts1-3 P {
  font-size: 11px;
}
#contacts1-3 STRONG {
  color: #cccccc;
}



#menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-16 .navbar-caption {
  color: #ffffff;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}
#menu-16 .navbar-toggler {
  color: #ffffff;
}
#menu-16 .close-icon::before,
#menu-16 .close-icon::after {
  background-color: #ffffff;
}
#menu-16 .link,
#menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-16 .link {
  font-size: 0.9rem;
}
#menu-16 .dropdown-item,
#menu-16 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-16 .link:hover,
#menu-16 .dropdown-item:hover,
#menu-16 .link:focus,
#menu-16 .dropdown-item:focus {
  color: #efefef;
}
#menu-16 .link[aria-expanded="true"],
#menu-16 .dropdown-menu {
  background: #000000;
}
#menu-16 .nav-dropdown-sm .link:focus,
#menu-16 .nav-dropdown-sm .link:hover,
#menu-16 .nav-dropdown-sm .dropdown-item:focus,
#menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-16 .navbar,
#menu-16 .nav-dropdown-sm,
#menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-16 .bg-color.transparent.opened .link:hover,
#menu-16 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-16 .link[aria-expanded="true"],
#menu-16 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#menu-16 .btn {
  font-family: 'Roboto', sans-serif;
}
#form1-1s .form-control-label {
  color: #ffffff;
}
#form1-1s .mbr-section-title {
  color: #ffffff;
}
#form1-1s SMALL {
  color: #ffffff;
}
#contacts1-17 P {
  font-size: 11px;
}
#contacts1-17 STRONG {
  color: #cccccc;
}



#menu-2u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2u .navbar-caption {
  color: #ffffff;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}
#menu-2u .navbar-toggler {
  color: #ffffff;
}
#menu-2u .close-icon::before,
#menu-2u .close-icon::after {
  background-color: #ffffff;
}
#menu-2u .link,
#menu-2u .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-2u .link {
  font-size: 0.8rem;
}
#menu-2u .dropdown-item,
#menu-2u .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-2u .link:hover,
#menu-2u .dropdown-item:hover,
#menu-2u .link:focus,
#menu-2u .dropdown-item:focus {
  color: #efefef;
}
#menu-2u .link[aria-expanded="true"],
#menu-2u .dropdown-menu {
  background: #000000;
}
#menu-2u .nav-dropdown-sm .link:focus,
#menu-2u .nav-dropdown-sm .link:hover,
#menu-2u .nav-dropdown-sm .dropdown-item:focus,
#menu-2u .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-2u .navbar,
#menu-2u .nav-dropdown-sm,
#menu-2u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2u .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-2u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2u .bg-color.transparent.opened .link:hover,
#menu-2u .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-2u .link[aria-expanded="true"],
#menu-2u .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#menu-2u .btn {
  font-family: 'Roboto', sans-serif;
}
#msg-box3-47 .mbr-section-title,
#msg-box3-47 p {
  color: #000;
}
#msg-box3-47 .lead {
  text-align: center;
}
#msg-box3-47 .mbr-section-title {
  text-align: center;
}
#msg-box5-2v P {
  text-align: left;
  color: #000000;
}
#msg-box5-2v H3 {
  text-align: left;
  color: #000000;
  font-size: 46px;
}
#msg-box5-33 P {
  text-align: left;
  color: #ffffff;
}
#msg-box5-33 H3 {
  text-align: left;
  color: #ffffff;
  font-size: 46px;
}
#msg-box5-49 P {
  text-align: left;
  color: #000000;
}
#msg-box5-49 H3 {
  text-align: left;
  color: #000000;
  font-size: 46px;
}
#msg-box5-34 P {
  text-align: left;
  color: #ffffff;
}
#msg-box5-34 H3 {
  text-align: left;
  color: #ffffff;
  font-size: 46px;
}
#msg-box5-35 P {
  text-align: left;
  color: #000000;
}
#msg-box5-35 H3 {
  text-align: left;
  color: #000000;
  font-size: 46px;
}
#msg-box5-36 P {
  text-align: left;
  color: #000000;
}
#msg-box5-36 H3 {
  text-align: left;
  color: #000000;
  font-size: 46px;
}
#contacts1-32 P {
  font-size: 11px;
}
#contacts1-32 STRONG {
  color: #cccccc;
}



#menu-37 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-37 .navbar-caption {
  color: #ffffff;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}
#menu-37 .navbar-toggler {
  color: #ffffff;
}
#menu-37 .close-icon::before,
#menu-37 .close-icon::after {
  background-color: #ffffff;
}
#menu-37 .link,
#menu-37 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-37 .link {
  font-size: 0.8rem;
}
#menu-37 .dropdown-item,
#menu-37 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-37 .link:hover,
#menu-37 .dropdown-item:hover,
#menu-37 .link:focus,
#menu-37 .dropdown-item:focus {
  color: #efefef;
}
#menu-37 .link[aria-expanded="true"],
#menu-37 .dropdown-menu {
  background: #000000;
}
#menu-37 .nav-dropdown-sm .link:focus,
#menu-37 .nav-dropdown-sm .link:hover,
#menu-37 .nav-dropdown-sm .dropdown-item:focus,
#menu-37 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-37 .navbar,
#menu-37 .nav-dropdown-sm,
#menu-37 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-37 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-37 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-37 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-37 .bg-color.transparent.opened .link:hover,
#menu-37 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-37 .link[aria-expanded="true"],
#menu-37 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#menu-37 .btn {
  font-family: 'Roboto', sans-serif;
}
#msg-box8-3g .mbr-section-title,
#msg-box8-3g p {
  color: #fff;
}
#msg-box8-3j .mbr-section-title,
#msg-box8-3j p {
  color: #fff;
}
#contacts1-3e P {
  font-size: 11px;
}
#contacts1-3e STRONG {
  color: #cccccc;
}



#menu-3k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3k .navbar-caption {
  color: #ffffff;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}
#menu-3k .navbar-toggler {
  color: #ffffff;
}
#menu-3k .close-icon::before,
#menu-3k .close-icon::after {
  background-color: #ffffff;
}
#menu-3k .link,
#menu-3k .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-3k .link {
  font-size: 0.8rem;
}
#menu-3k .dropdown-item,
#menu-3k .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-3k .link:hover,
#menu-3k .dropdown-item:hover,
#menu-3k .link:focus,
#menu-3k .dropdown-item:focus {
  color: #efefef;
}
#menu-3k .link[aria-expanded="true"],
#menu-3k .dropdown-menu {
  background: #000000;
}
#menu-3k .nav-dropdown-sm .link:focus,
#menu-3k .nav-dropdown-sm .link:hover,
#menu-3k .nav-dropdown-sm .dropdown-item:focus,
#menu-3k .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-3k .navbar,
#menu-3k .nav-dropdown-sm,
#menu-3k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3k .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-3k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3k .bg-color.transparent.opened .link:hover,
#menu-3k .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-3k .link[aria-expanded="true"],
#menu-3k .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#menu-3k .btn {
  font-family: 'Roboto', sans-serif;
}
#msg-box5-3l P {
  text-align: left;
  color: #28324e;
}
#msg-box5-3l H3 {
  text-align: left;
  color: #28324e;
}
#msg-box5-3n P {
  text-align: left;
  color: #ffffff;
}
#msg-box5-3n H3 {
  text-align: left;
  color: #ffffff;
}
#msg-box5-3o P {
  text-align: left;
  color: #28324e;
}
#msg-box5-3o H3 {
  text-align: left;
  color: #28324e;
}
#msg-box5-3p P {
  text-align: left;
  color: #ffffff;
}
#msg-box5-3p H3 {
  text-align: left;
  color: #ffffff;
}
#msg-box5-3s P {
  text-align: left;
  color: #28324e;
}
#msg-box5-3s H3 {
  text-align: left;
  color: #475577;
}
#msg-box5-3t P {
  text-align: left;
  color: #ffffff;
}
#msg-box5-3t H3 {
  text-align: left;
  color: #ffffff;
}
#contacts1-3r P {
  font-size: 11px;
}
#contacts1-3r STRONG {
  color: #cccccc;
}



#content8-46 .mbr-section-title,
#content8-46 p {
  text-align: right;
  color: #fff;
}
#menu-3u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3u .navbar-caption {
  color: #ffffff;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}
#menu-3u .navbar-toggler {
  color: #ffffff;
}
#menu-3u .close-icon::before,
#menu-3u .close-icon::after {
  background-color: #ffffff;
}
#menu-3u .link,
#menu-3u .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-3u .link {
  font-size: 0.8rem;
}
#menu-3u .dropdown-item,
#menu-3u .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-3u .link:hover,
#menu-3u .dropdown-item:hover,
#menu-3u .link:focus,
#menu-3u .dropdown-item:focus {
  color: #efefef;
}
#menu-3u .link[aria-expanded="true"],
#menu-3u .dropdown-menu {
  background: #000000;
}
#menu-3u .nav-dropdown-sm .link:focus,
#menu-3u .nav-dropdown-sm .link:hover,
#menu-3u .nav-dropdown-sm .dropdown-item:focus,
#menu-3u .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-3u .navbar,
#menu-3u .nav-dropdown-sm,
#menu-3u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3u .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-3u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3u .bg-color.transparent.opened .link:hover,
#menu-3u .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-3u .link[aria-expanded="true"],
#menu-3u .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#menu-3u .btn {
  font-family: 'Roboto', sans-serif;
}
#msg-box5-3x P {
  text-align: left;
  color: #28324e;
}
#msg-box5-3x H3 {
  text-align: left;
  color: #28324e;
}
#msg-box5-3x SPAN {
  font-size: 24px;
}
#msg-box5-4i P {
  text-align: left;
  color: #28324e;
}
#msg-box5-4i H3 {
  text-align: left;
  color: #28324e;
}
#msg-box5-4i SPAN {
  font-size: 24px;
}
#contacts1-42 P {
  font-size: 11px;
}
#contacts1-42 STRONG {
  color: #cccccc;
}
